<div class="container mt-5">
    <div style='text-align: center;'>
      <h1>Error 404: Page not found</h1>
      <p class="lead">The page you're trying to get is not found.</p>
      <p><button class="btn btn-outline-dark mt-2" routerLink='/'>Home</button></p>
      <img class="mt-5" src="https://lh3.googleusercontent.com/proxy/n-_AKGA7UB4Y86nuxwQ7Ib2Xr5gbcwuKx1QcqtySd7hdvm6BHoqm6ynyCdbBJ_pD1ABBEYqgWm5ZhGPmr3GF8teXtN57euFsxc9JH-epqXO-qVxsZA" style="max-width: 300px;" alt="">
    </div>
  </div>